.container__landing {
    align-items: center;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.container__landing__logo {
    height: 20%;
    object-fit: contain;
    width: 90%;
}

.container__landing__connect {
    background-color: #1DB954;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #121212;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    padding: 12px 32px;
}

.container__landing__connect:hover {
    background-color: #121212;
    border: 1px solid #1DB954;
    color: #FFFFFF;
    transition: .5s;
}