.container__navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.container__navbar__input {
    padding: 6px;
    position: relative;
}

.container__navbar__input__input {
    border-radius: 20px;
    border: none;
    height: 40px;
    outline: none;
    padding-left: 30px;
    width: 350px;
}

.container__navbar__input__search {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 28%;
}

.container__navbar__menu {
    align-items: center;
    background-color: #191414;
    border-radius: 20px;
    border: none;
    display: flex;
    height: 32px;
    position: relative;
    width: 160px;
}

.container__navbar__menu:hover {
    background-color: #535353;
    transition: .5s;
}

.container__navbar__menu__avatar {
    border-radius: 50%;
    height: 28px;
    left: 0px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 28px;
}

.container__navbar__menu__name {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0px;
}

.container__navbar__menu__name__user {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.container__navbar__logout {
    align-items: center;
    background-color: #212121;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 14px;
    top: 66px;
    width: 160px;
    z-index: 9999;
}

.container__navbar__logout:hover {
    background-color: #535353;
    color: #212121;
    transition: .5s;
}

.container__navbar__logout__button {
    align-items: center;
    background-color: #212121;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 160px;
}

@media only screen and (max-width: 768px) {
    .container__navbar__input__input {
        padding-left: 10px;
        width: 200px;
    }

    .container__navbar__input__input::placeholder {
        font-size: 12px;
    }

    .container__menu__button {
        width: 60px;
    }

    .container__menu__button__name {
        display: none;
    }
}