.card {
    border-radius: 6px;
    cursor: pointer;
    height: 260px;
    margin: 8px;
    padding: 16px;
    width: 170px;
}

.card:hover {
    background-color: #535353;
    transition: background-color 0.5s ease;
}

.card__image {
    border-radius: 6px;
    height: 170px;
    margin-bottom: 14px;
    width: 100%;
}

.card__name {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.card__artists {
    color: #B3B3B3;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 14px;
}

.card__artists__name {
    color: #B3B3B3;
    padding-left: 6px;
    text-decoration: none;
}

.card__artists__name:hover {
    text-decoration: underline;
}